page-stamp {
  hr {
    border: 1px solid #c8c7cc !important;
    width: 100% !important;
    display: block !important;
    font-size: 2em !important;
    visibility: visible !important;
  }

  .item-toggle > .item-inner {
    border-bottom-color: white !important;
  }

  .select{
    max-width: 100% !important;
  }

  table {
    width: 100%;
    font-size: 16px;
  }

  th {
    background-color:lightgrey;
    height:30px;
  }

  input.amount {
   width:60px;
   text-align:center;
  }

  td{
    height:30px;
  }
  p {
    font-size: 18px;
  }
}


