page-stamp {
  hr {
    border: 1px solid #c8c7cc !important;
    width: 100% !important;
    display: block !important;
    font-size: 2em !important;
    visibility: visible !important;
  }

  .select{
    max-width: 100% !important;
  }
}


