<!--
  Generated template for the IndexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="title-dash">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title">
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="navCtrl.setRoot(navCtrl.getActive().component);">
        <ion-icon name="refresh" style="color:white; font-size: 6vh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div align="center" class="firstDiv">

    <div style="top:10vh; display: table-cell;" class="bg">
      <h3>
          Eventos
      </h3>
      <h3 *ngIf="events !== undefined && events.length === 0" style="color:grey">No estas invitado a ningún evento aún</h3>
      <ion-list>
        <div *ngFor="let event of events">
          <ion-item>
            <b>{{event.name}}</b><br>
            {{event.location}}<br>
            {{formatDate(event.date)}}
            <button style="height:10vh;" ion-button item-end (click)="goToPassport(event)" >Ver pasaporte</button>
          </ion-item>
        </div>
      </ion-list>
      <br><br>
      <h3>
          Eventos pasados
      </h3>
      <h3 *ngIf="closedEvents !== undefined && closedEvents.length === 0" style="color:grey">No has participado en otros eventos</h3>
      <ion-list>
        <div *ngFor="let event of closedEvents">
          <ion-item>
            <b>{{event.name}}</b><br>
            {{event.location}}<br>
            {{formatDate(event.date)}}<br>
            <b style="color:red">Terminado</b>
            <button style="height:10vh;" ion-button item-end (click)="goToPassport(event)" >Ver pasaporte</button>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>

</ion-content>
