<ion-menu [content]="content" swipeEnabled="false">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(pages['login'].component)">
        {{pages["login"].title}}
      </button>

      <button ion-item (click)="openPage(pages['profile'].component)">
        {{pages["profile"].title}}
      </button>

      <button *ngIf="hasPermission('canStamp')" ion-item (click)="openPage(pages['stamp'].component)">
        {{pages["stamp"].title}}
      </button>

      <button *ngIf="hasPermission('canStamp')" ion-item (click)="openPage(pages['product'].component)">
        {{pages["product"].title}}
      </button>

      <button *ngIf="hasPermission('canActivate')" ion-item (click)="openPage(pages['activate'].component)">
        {{pages["activate"].title}}
      </button>

      <button *ngIf="hasPermission('canRecharge')" ion-item (click)="openPage(pages['recharge'].component)">
        {{pages["recharge"].title}}
      </button>


      <button ion-item (click)="logout()">
        Salir
      </button>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
